<div class="container">
  <div class="productItem">
    <div class="thumbnail">
      <img class="rounded img-thumbnail" src="{{product.imgUrl}}" alt="">
      <div class="caption">
        <h6 class="productTitle pull-left"><a href="{{product.courseUrl}}" target="_blank">{{product.title}}</a></h6>
        <h6 class="pull-right">￥{{product.price}} 元</h6>
        <div class="productDesc">{{product.desc}}</div>
      </div>
      <div class="rating">
        <p class="float-{sm,md,lg,xl}-left"></p> 
        <p>
          <app-rating [rating]="product.rating"></app-rating>
        </p>
      </div>
    </div>
</div>

<div class="card card-body bg-light">
  <div class="row" *ngFor="let comment of comments">
    <div class="col-md-12">
      <app-rating [rating]="comment.rating"></app-rating>
      <span>{{comment.username}}</span>
      <span class="float-md-right float-lg-right float-sm-right">{{'' | weather}}</span>
      <span class="float-md-right float-lg-right float-sm-right">{{comment.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
      <p></p>
      <p>{{comment.content}}</p>
      <br>
      <hr>
      <br>
    </div>
  </div>
</div>
