<div class="container row">
  <div *ngFor="let product of products" class="productItem col-md-4 col-sm-4 col-lg-4">
    <div class="thumbnail">
      <img class="rounded img-thumbnail" src="{{product.imgUrl}}" alt="">
      <div class="caption">
        <h6 class="productTitle pull-left"><a [routerLink]="['/home/productdetail']" [queryParams]="{productId: product.id}">{{product.title}}</a></h6>
        <h6 class="pull-right">￥{{product.price}} 元</h6>
        <div class="productDesc">{{product.desc}}</div>
      </div>
      <div class="rating"> 
        <app-rating [rating]="product.rating"></app-rating>
      </div>
    </div>
  </div>
</div>